   body{
     background-color:#fceef5;
   }
   h1{
     color: #eea29a;
   }
   h3{
     color: #eea29a;
   }
   hr{
     border-style: dotted none none none;
     border-color: #deeaee;
     border-width: 5px;
     width: 5%;
   }
   img{
     height: 100px
   }
